* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    padding-top: 50px;
}

.wrap {
    overflow: hidden;
}

.navbar {
    background-color: #0E1B3F;
}

#username {
    color: white;
}

.navbar-brand {
    padding: 0;
}

.atitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    font-weight: lighter;
}

.drop-down {
    position: relative;
}

.drop-down-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
}

.drop-down-content li {
    padding: 5px 20px 5px 20px;
    background-color: #0E1B3F;
}

.drop-down-content li:hover {
    background-color: #F4B897;
}

.drop-down:hover .drop-down-content {
    display: block;
}

.personalInfo {
    height: 200px;
    padding-top: 15px;
    text-align: center;
}

.headPortrait {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;
}

#personName {
    font-size: 20px;
    height: 44px;
    line-height: 44px;
}

.funcList {
    margin-top: 40px;
    text-align: center;
}

.funcListUl li {
    height: 45px;
}

.page2 {
    position: relative;
}

.page2::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    content: "";
    display: block;
    border: 20px solid #999999;
    border-color: transparent transparent #fbf069 #fbf069;
    background-color: #fff;
    box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
}

.page2::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    content: "";
    display: block;
    border: 20px solid #999999;
    border-color: transparent #fbf069 #fbf069 transparent;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.directory {
    width: 20%;
    height: 200px;
    border: 1px solid #fde19a;
}

.addDirectory {
    text-align: center;
}

#new-project {
    width: 80%;
    margin: 0 auto;
}

.content-area {
    width: 40%;
}


/* 新加 */

.moreMsg {
    padding: 40px;
}

.col-center-block {
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rank i {
    color: gold;
}

.form>div {
    margin: 5px 0;
}

.content {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.fa-rmb,
.fa-lightbulb-o,
.fa-shield {
    margin-left: 2px;
    margin-right: 2px;
}

.form i {
    color: rgb(243, 60, 14);
}

.form>div {
    display: flex;
    flex-direction: row;
    align-items: center
}

.edit {
    margin-left: 10px;
}


/* #form>div>div {
    margin-right: 10px;
} */

.allMsg {
    padding: 20px;
}

.one {
    padding-bottom: 10px;
    /* border-bottom: 3px dashed #999999; */
}

.applicant {
    margin-right: 20px;
    font-size: 16px;
    /* background: #cc6022;
    padding: 5px 8px; */
}