.my-folder{
    color:#fbed50;
    font-size:60px;
}
.folder-name{
    font-size:20px;
    display:block;
}
.my-inline-block{
    display:inline-block;
    border:1px solid #fff;
    padding:25px;
    cursor:pointer;
}
.my-inline-block:hover{
    background-color:rgba(253,245,154,0.4);
    border:1px solid #fdd49a;
}
#follow{
    width:85%;
   margin:0 auto;
    font-size:20px;
}
.description{
    height:200px;
    border:1px solid gray;
}