.my-folder{
    color:#fbed50;
    font-size:60px;
}
.folder-name{
    font-size:20px;
    display:block;
}
.my-inline-block{
    display:inline-block;
    border:1px solid #fff;
    padding:25px;
    cursor:pointer;
}
.my-inline-block:hover{
    background-color:rgba(253,245,154,0.4);
    border:1px solid #fdd49a;
}
#follow{
    width:85%;
   margin:0 auto;
    font-size:20px;
}
.op{
    border-top:1px solid #D0D6D9;
    border-bottom:1px solid #D0D6D9;
    margin-top:15px;
}
.day{
    font-size:14px;
    font-weight:lighter;
    color:gray;
    text-indent: 2rem;
}
.user{
    font-size:16px;
    font-weight:700;
}
.description{
    font-size:16px;
    text-indent: 2rem;
}