.my-folder{
    color:#fbed50;
    font-size:60px;
}
.folder-name{
    font-size:20px;
    display:block;
}
.my-inline-block{
    display:inline-block;
    border:1px solid #fff;
    padding:25px;
    cursor:pointer;
}
.my-inline-block:hover{
    background-color:rgba(253,245,154,0.4);
    border:1px solid #fdd49a;
}
#follow{
    width:85%;
   margin:0 auto;
    font-size:20px;
}
.my-h2{
    font-size:1.3em;
    color:#ff7864;
}
.my-h3{
    font-size:0.8em;
    text-indent:2em;
    
}
.my-lead{
    font-size:0.8em;
    text-indent:2em;
    
}