
#select,#sort,#put_word, #pagination{
    width: 80%;
    margin:20px auto;
}
#select{
    border:1px solid #ccc;
}
section{
    padding:10px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
}
/*翻页*/
#pagi-father{
    text-align: center;
}
#pagination{
    font-size: 14px;
}
#pagination a{
    min-width: 30px;
    height: 28px;
    border: 1px solid #dce0e0!important;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    font-size: 13px;
    display: inline-block;
}
#firstPage, #lastPage {
    width: 50px;
    color: #0073A9;
    border: 1px solid #0073A9!important;
}
#prePage, #nextPage {
    width: 70px;
    color: #0073A9;
    border: 1px solid #0073A9!important;
}
#pagination .current {
    background-color: #0073A9;
    border-color: #0073A9;
    color: #FFFFFF;
}
.totalPages {
    margin: 0 15px;
}
.totalPages span, .totalSize span {
    color: #0073A9;
    margin: 0 5px;
}
/* 模态框 */
.modal-header {
    padding-bottom: 5px;
}

.modal-header i {
    color: gold;
}

.modal-header div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#myModalLabel {
    margin-right: 20px;
}

.publisher {
    margin-right: 10px;
}

.modal-body {
    font-size: 16px;
}

.modal-body>div {
    margin: 5px 0;
}

.content {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.modal-body .fa-rmb {
    margin-left: 3px;
    margin-right: 3px;
}

.modal-body i {
    color: rgb(243, 60, 14);
}

.modal-body .fa-pulse {
    color: rgb(125, 160, 125);
    margin-right: 10px;
}

.modal-body .wait {
    font-size: 20px;
}
