.container{
    padding-top:40px;
}

input{
    border-radius:10px;
}
input[type=radio]{
    height:15px;
    width:auto;
}
input[type=checkbox]{
    width:auto;
    height:16px;
}
.form-control-feedback{
    position:absolute;
    top:0;
    right:10px;
}
#registerBtn,#loginBtn{
    margin-left:-25px;
}






