body{
    background:url(../img/bg.jpeg);
}
.container{
    margin-top:40px;
}
.row2{
    width:65%;
    margin:0 30%;
}
input{
    border-radius:10px;
}
input[type=radio]{
    height:15px;
    width:auto;
}
input[type=checkbox]{
    width:auto;
    height:16px;
}
.form-control-feedback{
    position:absolute;
    top:0;
    right:10px;
}
#btn1,#btn2{
    margin-left:-25px;
}






