body{
    background:url(../img/bg.jpeg);
}
.container{
    margin-top:40px;
}
.row1{
    width:100%;
}
.row2{
    width:65%;
    margin:0 auto;
}
input{
    border-radius:10px;
}
input[type=radio]{
    height:15px;
    width:auto;
}
input[type=checkbox]{
    width:auto;
    height:16px;
}




