body{
    padding-top:50px;
}
.content{
    margin-top:50px;
}
.badge{
    background-color:#ff7864;
}
.label-default{
    background-color:lightslategray;
    border-radius:0;
}
#sort{
    border:none;
}
#publish{
    height:100px;
    text-align:center;
    margin-bottom:10px;
}
#publish .btn-default{
    width:100%;
    background:#428bca;
    color:white;
}
.navbar-brand{
padding:0;
}
#sure_submit{
    background-color:darkred;
    color:white;
}
.money_text{
    color:red;
    font-size:50px;
}
#exit{
    border:none;
    background:#fff;
    padding-left:20px;
}