*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    padding-top:50px;
}

.navbar{
    background-color:#0E1B3F;
}
#username{
    color:white;
}
.navbar-brand{
    padding:0;
}
.atitle{
    margin-top:10px;
    margin-left:10px;
    font-size:25px;
    color:white;
    font-weight:lighter;
}
.drop-down{
    position:relative;
}
.drop-down-content{
    display:none;
    position:absolute;
    top:40px;
    right:0;
}
.drop-down-content li{
    padding:5px 20px 5px 20px;
    background-color:#0E1B3F;
}
.drop-down-content li:hover{
    background-color:#F4B897;

}
.drop-down:hover .drop-down-content{
    display:block;

}
.personalInfo{
    height:200px;
    padding-top:15px;
    text-align:center;
}
.headPortrait{
    display:block;
    width:128px;
    height:128px;
    margin:0 auto;
}
#personName{
    font-size:20px;
    height:44px;
    line-height:44px;

}

.funcList{
    margin-top:40px;
    text-align:center;
}
.funcListUl li{
    height:45px;

}
.btn-sign{
    background-color:#f0ad4e;
}

