<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员</title>
    <link href="css/manager.css" rel="stylesheet"/>
</head>
<body>
<div class="nav">
    <div class="top">
        <div class="logo">
            <a href="project.html">首页</a>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="leftSide">
        <div class="personalInfo">
            <a href="#info" class="headPortrait">
                <img src="../static/img/headPortrait.png" id="headPortrait"/>
            </a>
            <div id="nickname">
                <p id="personName">yyq</p>
                <a href="#info" class="manageBtn">账号管理</a>
            </div>
        </div>
        <div class="funcList">
            <ul class="funcListUl">
                <li class="current" id="li_xx_icon"><a>人员信息查询/维护</a></li>
                <li id="li_kq_icon"><a>人员考勤情况</a></li>
                <li id="li_gl_icon"><a>任务管理</a></li>
                <li id="li_gj_icon"><a>任务跟进</a></li>
                <li id="li_fb_icon"><a>发布新外包</a></li>
            </ul>
        </div>
    </div>
    <div class="mainRight"></div>
</div>

<div class="foot"></div>
</body>
</html>